/* Importa la fuente "Cutive Mono" desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

/* Estilo para los elementos de lista */
li {
    font-size: 12px; /* Tamaño de fuente mediano */
    margin-right: 20px; /* Margen derecho de 20px */
    transition: color 0.3s ease; /* Transición suave para el color del texto */
    color: black; /* Color de texto negro por defecto */
    padding-right:20px;
    padding-left:20px;
}

/* Estilo para los enlaces con la clase 'a' */
.a {
    color: white; /* Color de texto blanco */
    font-weight: bold; /* Texto en negrita */
    text-decoration: none; /* Sin subrayado en el enlace */
}

/* Estilo para los elementos con la clase 'romeco' */
.romeco {
    text-align: center; /* Alinea el texto al centro */
    padding-bottom: 10px; /* Espaciado en la parte inferior */
    font-family: 'Cutive Mono', monospace; /* Utiliza la fuente 'Cutive Mono' */
    font-size: 2rem; /* Tamaño de fuente muy grande */
    letter-spacing: 10px; /* Espaciado de 2 píxeles entre letras */
}

/* Estilo para los elementos con la clase 'demas' */
.demas {
    text-align: right; /* Alinea el texto a la derecha */
}

/* Estilo para las listas */
ul {
    display: flex; /* Convierte la lista en un flex container */
    list-style-type: none; /* Elimina los marcadores de lista */
    padding: 0; /* Sin relleno */
    margin: 0; /* Sin margen */
    justify-content: center; /* Alinea los elementos al centro horizontalmente */
}

/* Estilo para los contenedores div */
div {
    width: 80%; /* Ancho del 80% del contenedor padre */
    margin: 0 auto; /* Margen automático horizontal para centrar */
    padding: 20px; /* Relleno de 20px */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilo para el encabezado */
header {
    background-color: #C3B6DD; /* Color de fondo */
    text-align: right; /* Alineación del texto a la derecha */
    align-items: right; /* Alinea el contenido verticalmente a la derecha */
    margin: 0 auto; /* Margen automático horizontal para centrar */
    padding: 30px; /* Relleno de 30px */
}

.Medio {
    background-color: #C3B6DD;
}
/* Estilo para los enlaces en el encabezado al pasar el ratón */
header a:hover {
    color: lightslategrey; /* Cambia el color del texto al pasar el ratón */
}

