
footer {
    background-color: #C3B6DD;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    position: sticky;
    top: 0;
    width: 100%;

}

.containerFooter{
  background-color: #C3B6DD;
  width:100%;
}

footer p {
    margin: 0; /* Elimina el margen exterior del párrafo */
    text-align: center; /* Alinea el texto del párrafo a la izquierda */
    color: white; /* Establece el color del texto del párrafo */
    font-weight: bold; /* Establece el peso de la fuente como negrita */
}

footer a {
    transition: color 0.3s ease; /* Aplica una transición suave al color del enlace */
    color: white; /* Establece el color del enlace como blanco */
    text-decoration: none; /* Elimina la decoración de subrayado del enlace */
    font-weight: bold; /* Establece el peso de la fuente del enlace como negrita */
}

footer a:hover {
    color: lightslategrey; /* Cambia el color del enlace a blanco al pasar el ratón por encima */
}